<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="main.css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <div class="nav-bar"></div>

    <div id="app">
      <div class="cart">
        <p>Cart({{ cart.length }})</p>
      </div>
      <product :premium="premium" @add-to-cart="updateCart"></product>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script>
      var eventBus = new Vue()

      Vue.component("product", {
        props: {
          premium: {
            type: Boolean,
            required: true
          }
        },
            mounted() {
      eventBus.$on('form-submit', productReview => {
        this.reviews.push(productReview)
      })
    },
        template: `
        <div class="product">
        <div class="product-image">
          <img :src="image" />
        </div>

        <div class="product-info">
          <h1 v-if="premium">Hi premium user </h1>
          <h1>{{title}}</h1>
          <p v-if="inStock">In Stock</p>
          <p :class="{cross: !inStock}" v-else>Out of Stock</p>
          <p v-if="inputMessage!==''">{{inputMessage}}</p>

          <ul>
            <li v-for="detail in details">{{ detail }}</li>
          </ul>

          <div
            class="color-box"
            v-for="(variant,index) in variants"
            :key="variant.variantId"
            :style="{backgroundColor: variant.variantColor}"
            @mouseover="updateProduct(index)"
          ></div>

          <button
            v-on:click="addToCart"
            :disabled="!inStock"
            :class='{
              "disabledButton": !inStock
            }'
          >
            Add to cart
          </button>
          <product-tabs  :reviews="reviews"></product-tabs>


        </div>


      </div>`,
        data() {
          return {
            product: "Socks",
            brand: "Puma",
            selectedVariant: 0,
            reviews:[],
            details: ["80% cotton", "20% polyester", "Gender-neutral"],
            inputMessage: "",
            variants: [
              {
                variantId: 2234,
                variantColor: "green",
                variantImage:
                  "https://www.vuemastery.com/images/challenges/vmSocks-green-onWhite.jpg",
                variantQuantity: 0
              },
              {
                variantId: 2235,
                variantColor: "blue",
                variantImage:
                  "https://www.vuemastery.com/images/challenges/vmSocks-blue-onWhite.jpg",
                variantQuantity: 20
              }
            ]
          };
        },
        methods: {
          addToCart() {
            this.$emit(
              "add-to-cart",
              this.variants[this.selectedVariant].variantId
            );
          },
          updateProduct(index) {
            this.selectedVariant = index;
          } 
        
          
        },
        computed: {
          title() {
            return `${this.brand} ${this.product} is really good`;
          },
          image() {
            return this.variants[this.selectedVariant].variantImage;
          },
          inStock() {
            return this.variants[this.selectedVariant].variantQuantity;
          }
        }
      });

      Vue.component("product-tabs", {
        props: {
          reviews: {
            type: Array,
            required: false
          }
        },
        template: `
        <div>
        <div>
          <span class="tab" :class="{ activeTab: selectedTab === tab }" @click="selectedTab = tab" v-for="(tab, index) in tabs" :key="index">{{ tab }}</span>
        </div>

        <div v-show="selectedTab==='Reviews'">
        <p v-if="!reviews.length">There are no reviews yet.</p>
        <ul>
          <li v-for="review in reviews">
          <p>{{ review.name }}</p>
          <p>Rating: {{ review.rating }}</p>
          <p>{{ review.review }}</p>
          </li>
        </ul>
       </div>

   
       <div v-show="selectedTab==='Make a Review'">
       <product-review ></product-review>
       </div>

        </div>
      `,
        data() {
          return {
            tabs: ["Reviews", "Make a Review"],
            selectedTab: "Reviews",
          };
        },

      });

      Vue.component("product-review", {
        template: `
        <div>
                <p v-if="errors.length">
      <b>Please correct the following error(s):</b>
      <ul>
        <li v-for="error in errors">{{ error }}</li>
      </ul>
    </p>

            <form class="review-form" @submit.prevent="onSubmit">
      <p>
        <label for="name">Name:</label>
        <input id="name" v-model="name" placeholder="name">
      </p>
      
      <p>
        <label for="review">Review:</label>      
        <textarea id="review" v-model="review"></textarea>
      </p>
      
      <p>
        <label for="rating">Rating:</label>
        <select id="rating" v-model.number="rating">
          <option>5</option>
          <option>4</option>
          <option>3</option>
          <option>2</option>
          <option>1</option>
        </select>
      </p>
          
      <p>
        <input type="submit" value="Submit">  
      </p>    
    
    </form>
    </div>
        `,
        data() {
          return {
            name: null,
            review: null,
            rating: null,
            errors: []
          };
        },
        methods: {
          onSubmit() {
            if (this.name && this.review && this.rating) {
              eventBus.$emit("form-submit", {
                name: this.name,
                review: this.review,
                rating: this.rating
              });
              this.name = null;
              this.review = null;
              this.rating = null;
              if(this.errors.length) this.errors=[]
            } else {
              if (!this.name) this.errors.push("Name required.");
              if (!this.review) this.errors.push("Review required.");
              if (!this.rating) this.errors.push("Rating required.");
            }
          }
        }
      });

      const app = new Vue({
        el: "#app",
        data: {
          premium: true,
          cart: []
        },
        methods: {
          updateCart(id) {
            this.cart.push(id);
          }
        }
      });
    </script>
  </body>
</html>
